
@{
    ViewData["Title"] = "RecipeDetails";
}

<h1>RecipeDetails</h1>
<div class="container">

    <p>@ViewBag.Recipe.RecipeID</p>
    <p>@ViewBag.Recipe.RecipeName</p>
    <p>@ViewBag.Recipe.Description</p>

    <h3>Ingredients:</h3>
    @foreach (var ingredients in ViewBag.Recipe.Ingredients)
    {
        <p>
            @ingredients.MeasurementQuantity
            @ingredients.MeasurementUnit
            @ingredients.IngredientName

        </p>
    }
    <h3>Directions:</h3>
    @foreach (var step in ViewBag.Recipe.Steps)
    {
        <p>@step.StepNumber :  @step.StepText</p>
    }



</div>

